<% if (locals.dishesName) { %>
    <a href="/">Home Page</a>
    
<div class="item-details">
    <div class="item">
        <h2><%=dishesName.name%></h2>
        <div class="img__container">
            <img src="<%= dishesName.image %>" alt=""> 
        </div>
    </div>
    <div class="item">
        <div class="cookin-time">

            <h4>Preparation time: <%=dishesName.preparTime%> minutes</h4>
            <h4>Cooking Time:  <%=dishesName.CookTime%> minutes</h4>
            <h4>Totale Time: <%=dishesName.totalTime%> minutes</h4>
        </div>
        <hr class="line"/>
        <p class="item-para"><span>Ingredients :</span>  <%=dishesName.Ingredients%></p>
        <p class="item-para"><span>Instructions :</span> <%=dishesName.Instructions%></p>
    </div>
 
</div>
<% } %>
